footer {
  width: 21rem;
  margin: 0 auto;
  text-align: center;
  & div {
    display: flex;
    align-items: center;
    gap: 0.8rem;

    margin-bottom: 2rem;

    & span {
      font-size: var(--fs-md);
    }

    & > a {
      & > img {
        width: 8rem;
      }
    }
  }

  & > img {
    margin-bottom: 2rem;
  }

  & .links {
    display: flex;
    justify-content: center;

    & > a{
        & > img {
            width: 3rem;
        }
    }
  }
}
