footer {
    width: 12.0625rem;
    margin: 0 auto;
    & div {
        display: flex;
        align-items: center;
        gap: 0.8rem;

        margin-bottom: 2rem;

        & span {
            width: 6.25rem;
            font-size: 0.625rem;
        }
    }

    & > img{
        margin-bottom: 2rem;
    }

    & .links{
        display: flex;
        justify-content: center;
    }
}