.social-proof {
  display: grid;
  align-content: center;
  text-align: center;
  margin: 1.25rem auto;
  width: 100%;

  & .second-container {
    & .main-datas {
      gap: 1rem;
      & p {
        margin: 0 auto;
        width: 21rem;
        font-size: var(--fs-md);
      }

      & span {
        color: var(--bg-texts);

        font-family: var(--ff-anton);
        font-size: 10rem;

        letter-spacing: -1rem;
      }
    }
    & h2 {
      width: 24rem;
      margin: 0 auto;
      font-size: var(--fs-md);
      font-family: var(--ff-anton);
      letter-spacing: 0.15rem;

      & span {
        color: var(--bg-texts);
      }
    }
  }
}

@media (width >= 48rem) {
  .social-proof {
    & .second-container {
      & .main-datas {
        gap: 1rem;
        & p {
          margin: 0 auto;
          width: 35rem;
          font-size: var(--fs-lg);
        }

        & span {
          color: var(--bg-texts);

          font-family: var(--ff-anton);
          font-size: 13rem;

          letter-spacing: -1rem;
        }
      }
      & h2 {
        width: 30rem;
        margin: 0 auto;
        font-size: var(--fs-lg);
        font-family: var(--ff-anton);
        letter-spacing: 0.15rem;

        & span {
          color: var(--bg-texts);
        }
      }
    }
  }
}

@media (width >= 90rem) {
  .social-proof {
    & .second-container {
      display: flex;
      flex-direction: column-reverse;
      & .main-datas {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin: 3rem auto 0;
        gap: 4rem;
        & p {
          margin: 0 auto;
          width: 34.3125rem;
          font-size: var(--fs);
        }

        & span {
          font-family: var(--ff-fredoka);
          font-size: 16rem;
          width: 39.3125rem;

          letter-spacing: -2rem;
        }
      }
      & h2 {
        width: 50rem;
        margin: 3rem auto 0;
        font-size: var(--fs);
        letter-spacing: 0.5rem;
      }
    }

    & .text-desktop {
      display: block;

      background-color: var(--bg-texts);

      font-family: var(--ff-anton);

      font-size: var(--fs-subtitle);
      color: #160727;

      padding-inline: 0.5rem;
      margin: 3rem auto;

      border-radius: 2rem;

      width: 60rem;
    }
  }
}
