.video {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  & .layer {
    position: relative;
    width: 23rem;
    height: 15rem;
    margin: 0 auto;

    background: linear-gradient(#160727, #160727) padding-box,
      linear-gradient(140deg, #03da7d, #8e7de4 85% 100%) border-box;

    border-radius: 1rem;
    border: 4px solid transparent;

    cursor: pointer;

    & .box-video {
      position: absolute;
      & iframe {
        border-radius: 0.7rem;
      }
    }
  }

  & button {
    cursor: pointer;

    width: 15rem;

    font-size: var(--fs-md);
    font-family: var(--ff-anton);

    border-radius: 1.75rem;
    border: none;

    background-color: var(--bg-texts);

    margin: 0 auto;

    animation: pulsate 1.5s infinite; /* Nome da animação, duração e repetição infinita */
    transition: background-color 0.3s;
    a {
      text-decoration: none;
      color: #160727;
    }
  }

  & button:hover {
    background: linear-gradient(#160727, #160727) padding-box,
      linear-gradient(140deg, #03da7d, #8e7de4 85% 100%) border-box;

    border: 4px solid transparent;

    & a {
      color: #8e7de4;
    }
  }

  & span {
    font-size: var(--fs-md);
    margin: 0 auto;
  }
  
  & h3 {
    font-size: 0.9375rem;
    font-weight: var(--fw-reg);

    & a {
      text-decoration: none;

      & span {
        color: var(--bg-texts);
        animation: pulsate 1.5s infinite; /* Nome da animação, duração e repetição infinita */
        transition: background-color 0.3s;
      }
    }
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1); /* Aumenta o tamanho do botão */
    opacity: 0.8; /* Diminui um pouco a opacidade */
    font-size: 1.5rem;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
